.mainCtn{
    background-color: black;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buyBtn{
    width: 100rem;
    height: 10rem;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-l);
    font-size: 4rem;
}

.buyBtn:hover{
    background-color: yellow;
}

.productCtn {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imageBox img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.productName {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.productSlug {
    font-size: 12px;
    color: #777;
}

.priceBox {
    display: flex;
    gap: 10px;
    align-items: center;
}

.discountedPrice {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.originalPrice {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
}

.stockBox p,
.statusBox p,
.metaBox p {
    margin: 0;
    font-size: 14px;
}

.active {
    color: green;
    font-weight: bold;
}

.inactive {
    color: red;
    font-weight: bold;
}

.actionBox {
    margin-top: 10px;
}

.editBtn {
    padding: 8px 14px;
    border: none;
    background: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}