.contentForm{
/* Content_Form */

    /* Auto layout */
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    padding: 0px;
    row-gap: var(--spacings-m);

    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.label{
/* Full name * */
    font-weight: 400;
    font-size: var(--font-sizes-xs-text);
    /* line-height: 22px; */
    /* identical to box height */

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.input{
/* Input */

    /* Auto layout */
    padding: var(--spacings-s);
    font-size: 18px;
    line-height: 1.6;

    background: rgba(110, 112, 112, 0.05);
    /* Dark Gray */
    border: 1px solid #2C2D31;
    border-radius: 0.4rem;

    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    order: 1;
    flex-grow: 0;

}

.input::placeholder{
/* Placeholder Text */

    font-weight: 400;

    /* Gray */
    color: #6E7070;
}

.gridRowSingle{
/* Full_Name */
    height: fit-content;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacings-xs);


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.gridRowDual{
/* Email_Phone */
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacings-m);
    height: fit-content;
    align-self: stretch;
}

.row1{
    grid-row: 1;
}

.row2{

}

.email{
    order: 0;
}

.phoneNumber{
    order: 1;
}

.subColumn{
/* Email */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacings-xs);

    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.stateDropdown .input:invalid{
    font-weight: 400;
    /* Dark Gray */
        color: #2C2D31;
}

.selectWrapper{
    position: relative;
    flex: 1;
    display: flex;
    align-self: stretch;
    flex-direction: row;
}

.selectWrapper select {
    flex: 1;
    /* White */
    background-color: var(--white) !important;
    appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
    color: #07080C;
    padding-right: 2.5rem;
    width: 100%;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Gray */
    border: 1px solid #6E7070;
    
}

.stateDropdown .icon{
    pointer-events: none;
    position: absolute;
    /* Dark Gray */
    color: #2C2D31;
    right: var(--spacings-xs);
    top: 50%;
    transform: translateY(-50%);
    order: 1;
    height: 18px;

    
}

.selectWrapper option {
    /* Black */
    color: var(--black);
}

.row5 .input{
    cursor: default;
    /* Light Gray */
    background: #E9ECEC;
}

.row5 .input:active, .row5 .input:focus{
    border-color: #6E7070;
    outline: none;
}
