.navbar{
/* Navbar */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-ml);

    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.logo{
/* Dr. Vandy’s™ */

    font-weight: 700;
    font-size: var(--font-sizes-l-text);

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navMenu{
/* Nav_Menu */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--spacings-xs);
    gap: var(--spacings-ml);

    margin: 0 auto;
    width: fit-content;
    height: fit-content;

    background: #FFFFFF;
    border-radius: var(--border-radius-pill);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.navItem{
/* Nav_Item_Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--spacings-s) var(--spacings-m);
    gap: var(--spacings-s);

    width: fit-content;
    height: fit-content;

    border-radius: var(--border-radius-pill);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navItem .icon{
/* Vector */

    width: 16px;
    height: 20px;

    /* Black */
    color: #07080C;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navItem .label{
/* Nav_Item_01 */

    font-weight: 400;
    font-size: var(--font-sizes-s-text);

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.logoutBtn{
/* Logout_Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--spacings-sm);

    width: 54px;
    height: 54px;

    /* Dark Gray */
    background: #2C2D31;
    border-radius: var(--border-radius-pill);

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.logoutBtn .icon{
/* Vector */
    aspect-ratio: 1 / 1;

    /* White */
    color: #FCFDF8;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}