.infoWrapper{
/* Info_Wrapper */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--spacings-xs);
    margin-top: 12rem;
    gap: 12rem;
    padding: 0 var(--spacings-xl4);
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.painIntroText{
/* When pain becomes a daily interruption, relief needs to be both effective and safe. Dr. Vandy's OrthoHemp Pain Relief Oil is a clinically advanced, doctor-formulated topical oil designed to target pain at its source—muscles, joints, and deep tissues—without harsh chemicals or synthetic painkillers. */

    font-weight: 400;
    font-size: var(--font-sizes-m-text);
    text-align: center;

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.painIntroText .specificStyling{
    font-weight: 600;
}

.sectionTitle {
    /* What Makes OrthoHemp Different ? */

    font-weight: 500;
    font-size: var(--font-sizes-l-text);
    text-align: center;

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.differentiationSection{
/* Differentiation_Section */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-l);

    width: fit-content;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.differentiationSection .cardGrid{
/* Card_Grid */

    width: 80dvw;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: var(--spacings-m);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.differentiationCard{
/* Card_04 */

    width: fit-content;
    height: 100%;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacings-sm);
    gap: var(--spacings-l);


    /* Dark Gray */
    border: 1px solid #2C2D31;
}

.differentiationCard .heading{
/* Clinically Advanced Botanical Formulation */

    font-weight: 500;
    font-size: var(--font-sizes-m-text);
    text-align: center;

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.differentiationCard .detailsText{
/* OrthoHemp is not a generic pain oil. It is carefully formulated with CO₂ extracts and essential oils known for their anti-inflammatory, analgesic, and muscle-relaxing properties. */

    font-weight: 400;
    font-size: var(--font-sizes-s-text);
    text-align: center;

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.howItWorksSection{
/* How_It_Works_Section */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-l);

    width: fit-content;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}


.stairs{
/* Stairs */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-m);

    width: fit-content;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.stair{
/* Stair_01 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--spacings-s);
    gap: var(--spacings-sm);

    width: fit-content;
    height: fit-content;

    /* Dark Gray */
    background: #2C2D31;
    border-radius: 999px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.stair.s1{
    background-color: var(--dark-green);
}

.stair.s2 {
    background-color: var(--gold);
}

.stair.s3 {
    background-color: var(--red);
}

.stair.s4 {
    background-color: var(--dark-gray);
}

.indicator {

    position: relative;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: var(--white);
}

/* first ring */
.indicator::before,
.indicator::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: var(--light-yellow);
    opacity: 0.6;
    animation: ambient-pulse 2.2s infinite ease-out;
}

/* second ring (delayed + larger) */
.indicator::after {
    animation-delay: 1.1s;
    opacity: 0.4;
}

@keyframes ambient-pulse {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }

    70% {
        transform: scale(2.4);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.label{
/* Provides localized, targeted relief exactly where you apply it */

    font-weight: 400;
    font-size: var(--font-sizes-xs-text);

    /* White */
    color: #FCFDF8;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.suitableForSection{
/* Suitable_For_Section */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-l);

    width: fit-content;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

.suitableForSection .tags{
/* Tags */

    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: var(--spacings-sm);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.suitableForSection .tags .tag{
/* Tag_01 */
    width: 100%;
    height: fit-content;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--spacings-xs);


    /* Gray */
    border: 1px solid #6E7070;
}

.suitableForSection .tag .label{
/* Muscle soreness & spasms */

    font-weight: 400;
    font-size: var(--font-sizes-xs-text);

    /* Dark Gray */
    color: #2C2D31;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bottomGrid{
/* Bottom_Grid */
    grid-column: 1 / span 3;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-sm);
    width: 100%;
    height: 100%;
}

.ingredientsSection{
/* Ingredients_Section */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacings-l);

    width: fit-content;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
}

.ingredientsList{
    column-count: 2;
    column-gap: var(--spacings-ml);
    list-style-type: circle ;
    /* default bullet */
    list-style-position: inside;
}

.ingredientsList li{
/* • Hemp Seed Oil */

    font-weight: 500;
    font-size: var(--font-sizes-s-text);
    break-inside: avoid;
    line-height: 1.6;
    /* Dark Gray */
    color: #2C2D31;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.accordionsCtn {
    /* Accordians_Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;


    /* margin: 0 auto; */
    /* width: 400px; */
    width: 80%;
    max-width: 32rem;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 5;
    /* align-self: stretch; */
    flex-grow: 0;
}

.accordion {
    /* Accordian */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: var(--spacings-m) 0px;


    /* width: 400px; */
    height: fit-content;

    border-bottom: 1px solid rgba(110, 112, 112, 0.4);

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    transition: border-color, gap 0.25s ease;
}

.accordion.active {
    gap: var(--spacings-m);
    border-bottom-color: transparent;
}

.accordion .headerCtn {
    /* Accordian */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacings-xs);

    width: 100%;
    height: fit-content;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.accordion .titleText {
    /* How to Use */
    font-weight: 500;
    font-size: var(--font-sizes-s-text);

    /* Gray */
    color: #6E7070;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: color 0.25s ease;
}

.accordion.active .titleText {
    /* How to Use */
    /* Black */
    color: var(--black);
}

.accordion .icon {
    /* Vector */
    width: var(--font-sizes-s-text);
    /* height: var(--font-sizes-s-text); */

    /* Gray */
    color: #6E7070;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    transition: color, transform 0.25s ease;
}

.accordion.active .icon {
    /* Vector */

    /* Black */
    color: var(--black);

}

.accordion.active .iconExpand {
    transform: rotate(45deg);
}

.accordion .iconContract {
    transform: rotate(-45deg);
    display: none;
    opacity: 0;
}

.accordion .contentText {
    /* Ideal for joint pain, arthritis, muscle stiffness, nerve discomfort, sports recovery, and daily mobility support. Safe for long-term use and all age groups. */
    opacity: 0;
    font-weight: 400;
    font-size: var(--font-sizes-xs-text);

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.accordion.active .contentText {
    opacity: 100%;
}

.contentCtn {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.25s ease;
}

.contentCtn>* {
    overflow: hidden;
}

.accordion.active .contentCtn {
    grid-template-rows: 1fr;
}

.whyUsSection{
/* Why_Us_Section */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-sm);

    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 6;
    align-self: stretch;
    flex-grow: 0;
}

.whyUsSection .sectionTitle{
/* Why Dr. Vandy's */

    font-weight: 500;
    font-size: var(--font-sizes-m-text);
    
    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.whyUsSection .description{
/* Rooted in physiotherapy and clinical pain care, Dr. Vandy's focuses on understanding pain before treating it—bringing together science, tradition, and real-world experience. */

    font-weight: 500;
    font-size: var(--font-sizes-xs-text);
    text-align: center;

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.certificationText{
/* Doctor-Formulated • GMP Certified • THC-Free */

    font-weight: 400;
    font-size: var(--font-sizes-xs-text);
    letter-spacing: 0.02rem;

    /* Gray */
    color: #6E7070;


    /* Inside auto layout */
    flex: none;
    order: 6;
    flex-grow: 0;
}

@media (max-width: 768px) {
    .infoWrapper {
        margin-top: 9.6rem;
        gap: 9.6rem;
    }
    .differentiationSection .cardGrid{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: repeat(4, minmax(0, 1fr));
    }

    .suitableForSection .tags{
        grid-template-columns:minmax(0, 1fr);
        grid-template-rows: repeat(5, minmax(0, 1fr));
    }
}

@media (max-width: 470px) {
    .infoWrapper{
        margin-top: 6.4rem;
        gap: 6.4rem;
    }   
    .ingredientsList {
        column-count: 1;
    }
}