.statusIndicator{
/* Status */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--spacings-xs) var(--spacings-sm);

    height: fit-content;

    border-radius: var(--border-radius-pill);

    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    order: 5;
    flex-grow: 0;
}

.statusIndicator.paid{
    background-color: rgba(29, 94, 68, 0.2);
}

.statusIndicator.pending{
    background-color: rgba(177, 118, 25, 0.2);
}

.statusIndicator.cancelled{
    background-color: rgba(185, 28, 25, 0.2);
}

.statusText{
/* Cancelled */

    font-weight: 400;
    font-size: var(--font-sizes-s-text);


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.statusIndicator.paid .statusText{
    /* Dark Green */
    color: #1D5E44;
}

.statusIndicator.pending .statusText{
    /* Gold */
    color: var(--gold);
}

.statusIndicator.cancelled .statusText{
    /* Red */
    color: var(--red);
}

.statusText::first-letter {
    text-transform: uppercase;
}