.mainCtn{
    background-color: black;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buyBtn{
    width: 100rem;
    height: 10rem;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-l);
    font-size: 4rem;
}

.buyBtn:hover{
    background-color: yellow;
}


.imageCtn{
    width: 4rem;
    height: 4rem;
}
