.mainContainer {
    /* Landing Page- Desktop */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacings-sm);
    gap: var(--spacings-xl5);
    /* padding-bottom: var(--spacings-xs); */
    isolation: isolate;
    width: 99dvw;
    /* position: relative; */
    height: 100dvh;

}

.navbar {
    /* Navbar */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-ml);

    height: fit-content;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.logo {
    /* Dr. Vandy’s™ */
    width: fit-content;
    font-weight: 700;
    font-size: var(--font-sizes-l-text);

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navMenu {
    /* Nav_Menu */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--spacings-xs);
    gap: var(--spacings-m);

    margin: 0 auto;
    width: fit-content;
    height: fit-content;

    background: #FFFFFF;
    border-radius: var(--border-radius-pill);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.navItem {
    /* Nav_Item_Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--spacings-s) var(--spacings-m);
    gap: var(--spacings-s);

    width: fit-content;
    height: fit-content;

    border-radius: var(--border-radius-pill);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: background-color 0.25s ease,
}

.navItem.active {
    background-color: #CCFF89;
}

.navItem .icon {
    /* Vector */
    display: none;
    width: 16px;
    height: 20px;

    /* Black */
    color: #07080C;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navItem.active .icon {
    display: block;
}

.navItem .label {
    /* Nav_Item_01 */
    font-weight: 400;
    font-size: var(--font-sizes-s-text);

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.logoutBtn {
    /* Logout_Button */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--spacings-sm);

    height: fit-content;
    width: fit-content;

    /* Dark Gray */
    background: #2C2D31;
    border-radius: var(--border-radius-pill);

    /* Inside auto layout */
    flex: none;
    justify-self: flex-end;
    order: 2;
    flex-grow: 0;
}

.logoutBtn .icon {
    /* Vector */
    aspect-ratio: 1 / 1;
    width: var(--spacings-sm);
    height: var(--spacings-sm);

    /* White */
    color: #FCFDF8;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}