.CTAContainer{
    /* CTA_Container */
    cursor: pointer;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 1.2rem 1.2rem 1.6rem;
        gap: 1.2rem;
    
        width: fit-content;
        height: fit-content;
    
        /* Black */
        background: var(--black);
        border-radius: var(--border-radius-pill);
    
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        transition: transform 0.2s ease;
}

.CTAContainer:hover{
    transform: scale(1.01);
}

.CTAContainer .label{
    /* CTA_Label */

        font-weight: 400;
        font-size: var(--font-sizes-s-text);
        line-height: 2.4rem;
        letter-spacing: 0.02rem;
    
        /* White */
        color: var(--white);
    
    
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
}

.CTAContainer .icon{
    /* Vector */
    
        width: 24px;
        height: 24px;
    
        /* Light Yellow */
        color: var(--light-yellow);
    
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
}