.featureCard{
    /* Feature_Card */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 326px;

    width: 960px;
    height: 240px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.featureCard .icon{
    /* Vector */
    
        margin: 0 auto;
        width: 160px;
        height: 160px;
    
        /* Green */
        color: #467845;
    
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
}

.featureCard .card{
    /* Card */
    
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 24px;
        gap: 24px;
    
        margin: 0 auto;
        width: 560px;
        height: 240px;
    
        /* Black */
        border: 1px solid #07080C;
        border-radius: 12px;
    
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
}

.card .headingCtn{
    /* Heading_Container */
    
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 11px;
    
        margin: 0 auto;
        width: 511px;
        height: 107px;
    
    
        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
}

.headingCtn .headingIndex{
    /* 01 */
    
        width: 511px;
        height: 48px;
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
    
        /* Green */
        color: #467845;
    
    
        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
}

.headingCtn .headingText{
    /* Fast Relief */
    
        width: 511px;
        height: 48px;
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0.02em;
    
        /* Black */
        color: #07080C;
    
    
        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
}

.card .subheadingText{
    /* CBD calms pain receptors for instant comfort. */
    
        margin: 0 auto;
        width: 511px;
        height: 58px;
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.02em;
    
        /* Black */
        color: #07080C;
    
    
        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
}
