* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region Variables */
:root {
  --spacings-xs: 0.8rem;
  /* 8px */
  --spacings-s: 1.2rem;
  /* 16px */
  --spacings-sm: 1.6rem;
  /* 18px */
  --spacings-m: 2.4rem;
  /* 24px */
  --spacings-ml: 3.2rem;
  /* 32px */
  --spacings-l: 4rem;
  /* 48px */
  --spacings-lg: 5.4rem;
  /* 54px */
  --spacings-xl: 6rem;
  /* 60px */
  --spacings-xl2: 6.4rem;
  /* 64px */
  --spacings-xl3: 7.2rem;
  /* 72px */
  --spacings-xl4: 8rem;
  /* 80px */
  --spacings-xl5: 9.6rem;
  /* 96px */
  --spacings-xl6: 12rem;
  /* 120px */
  --spacings-xl7: 16rem;
  /* 160px */
  --spacings-xl8: 24rem;
  /* 240px */

  /* Desktop (default) */
  --font-sizes-title: 20rem;
  --font-sizes-l-text: 4rem;
  --font-sizes-m-text: 2.4rem;
  --font-sizes-s-text: 2rem;
  --font-sizes-xs-text: 1.8rem;

  /* Border Radius */
  --border-radius-xs: 1.2rem;
  --border-radius-s: 2.4rem;
  --border-radius-l: 3.2rem;
  --border-radius-pill: 999.9rem;

  --white: #fcfdf8;
  --black: #07080c;
  --gray: #7f8579;
  --dark-gray: #2c2d31;
  --light-yellow: #fcf2b3;
  --gold: #b17619;
  --ice-blue: #5cb1d6;
  --green: #467845;
  --red: #b91c19;
}

/* #endregion */


/* #region Default Properties */

a {
  all: unset;
  display: inline;
}



button {
  all: unset;
  cursor: pointer;
}


html {
  scroll-behavior: smooth;
  /* 1rem=10px */
  font-size: 62.5%;
}

html,
body {
  background-color: #fcfdf8;
  color: var(--black);
  /* Fallback */
  overscroll-behavior: contain;
  touch-action: manipulation;

}

::selection {
  background-color: var(--green);
}
