.mainOrderCtn {
    /* Orders Page- Desktop */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: var(--spacings-xs); */
    gap: var(--spacings-xl2);
    isolation: isolate;
    position: relative;
    align-self: stretch;
    
}

.header {
    /* Header */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacings-sm);

    height: fit-content;


    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    order: 1;
    flex-grow: 0;
}

.header .heading {
    /* Orders */

    font-weight: 500;
    font-size: var(--font-sizes-l-text);

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.header .subheading {
    /* An overview of recent data of customers info, products details and analysis. */

    font-weight: 400;
    font-size: var(--font-sizes-xs-text);

    /* Dark Gray */
    color: #2C2D31;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.contentCtn {
    /* Content_Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0;

    /* overflow: hidden; */
    display: flex;
    grid-template-rows: 1fr auto 1fr;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    justify-self: stretch;
    flex-grow: 0;
}

.topCtn {
    /* Top_Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacings-m) var(--spacings-sm);
    gap: var(--spacings-xs);

    height: fit-content;

    background: #FFFFFF;
    border-radius: var(--border-radius-l) var(--border-radius-l) 0px 0px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.topCtn .heading {
    /* All Orders */

    font-weight: 500;
    font-size: var(--font-sizes-m-text);

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.topCtn .subheading {
    /* Keep track of recent order data and others information. */

    font-weight: 400;
    font-size: var(--font-sizes-xs-text);

    /* Dark Gray */
    color: #2C2D31;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* TODO: TABLE */

.table {
    align-self: stretch;
    table-layout: fixed;
    border-collapse: collapse;
    border: none;
    overflow: scroll;
}

.table thead tr {
    /* Header_Row */

    background: rgba(252, 253, 248, 0.5);
    /* Light Gray */
    border-width: 1px 0px;
    border-style: solid;
    border-color: #E9ECEC;
}

.table th,
.table td {
    /* Header, Data Cells */
    text-align: center;
    vertical-align: middle;
    padding: var(--spacings-sm);
}

.table th {
    /* ORDER_ID */

    font-weight: 400;
    font-size: var(--font-sizes-s-text);

    /* Dark_Gray */
    color: #2C2D31;
}

.tableBody tr {
    cursor: pointer;
    background-color: #FFFFFF;
}

.tableBody tr:hover {
    background-color: var(--white);
}

.table td {
    /* Data_Cell */

    /* Light Gray */
    border-bottom: 1px solid #E9ECEC;

    /* Rahul Sharma */

    font-weight: 400;
    font-size: var(--font-sizes-s-text);

    /* Dark Gray */
    color: #6E7070;

}

.table .orderID {
    color: #07080C;
}

/* TABLE END */

.bottomCtn {
    /* Bottom_Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacings-m) var(--spacings-sm);
    gap: 0;

    height: fit-content;

    background: #FFFFFF;
    /* Light Gray */
    border-top: 1px solid #E9ECEC;
    border-radius: 0px 0px var(--border-radius-l) var(--border-radius-l);

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.bottomCtn .footer {
    /* Copyright © 2026 drvandys.com - All Rights Reserved. */

    font-weight: 400;
    font-size: var(--font-sizes-xs-text);
    letter-spacing: 0.02rem;

    /* Dark Gray */
    color: #2C2D31;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}