.mainContainer {
    /* Landing Page- Desktop */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacings-xl6);
    height: fit-content;
}

/* #region Hero Section */

.heroSection {
    /* Hero_Section */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacings-l);

    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
}

.heroTitle {
    /* OrthoHemp */

    font-weight: 500;
    font-size: var(--font-sizes-title);
    text-align: center;
    letter-spacing: 0.02rem;

    /* Black */
    color: var(--black);


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

/* #region Hero Container */
.primaryCtn {
    /* Primary_Container */

    /* Auto layout */
    /* display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; */
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30%;
    padding: var(--spacings-l);

    max-height: 54rem;
    aspect-ratio: 5 / 2;

    background: rgba(252, 242, 179, 0.4);
    border-radius: var(--border-radius-s);

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* BOTTLE TEST */
.bottleImg{
    user-select: none;
    height: 120%;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}

.mainSection {
    /* Main_Section */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacings-l);

    width: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.productTextCtn {
    /* Product_Text_Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacings-m);

    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.productTitle {
    /* Dr. Vandy’s OrthoHemp™ Pain Relief Oil */

    font-weight: 600;
    font-size: var(--font-sizes-l-text);
    line-height: 4.8rem;

    /* Black */
    color: var(--black);


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.productDescription {
    /* Doctor-Formulated | CBD-Enriched | 100% Plant-Based Relief */

    font-weight: 500;
    font-size: var(--font-sizes-m-text);
    line-height: 3.2rem;

    /* Black */
    color: var(--black);


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ctaRow{
/* CTA_Row */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacings-sm);

    width: fit-content;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.secondarySection {
    /* Secondary_Section */
    margin-left: var(--spacings-xl5);
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacings-m);

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.promoText {
    /* India’s first pain relief blend powered by Hemp Seed Oil, CBD, Arnica CO₂, and Boswellia — optimized with a dual-absorption hemp and virgin coconut base. */

    font-weight: 500;
    font-size: var(--font-sizes-m-text);
    line-height: 2.4rem;
    white-space: normal;

    /* Black */
    color: var(--black);


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.learnMoreBtn {
    /* Learn_More_Button */
    will-change: transform;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 1;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--spacings-s) var(--spacings-s) var(--spacings-s) var(--spacings-sm);
    gap: var(--spacings-xs);

    /* width: fit-content; */
    height: fit-content;

    /* Black */
    border: 1px solid var(--black);
    border-radius: var(--border-radius-pill);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    transition: transform 0.2s ease;
}

.learnMoreBtn:hover{
    transform: scaleX(1.01);
}

.learnMoreBtn .label {
    /* Learn More */

    font-weight: 400;
    font-size: var(--font-sizes-xs-text);
    line-height: 120%;
    /* identical to box height */
    letter-spacing: 0.02rem;

    /* Black */
    color: var(--black);


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.learnMoreBtn .icon {
    /* Vector */
    /*     
        width: 12.6px; */
    height: var(--font-sizes-s-text);

    /* Black */
    color: var(--black);
    transform: rotate(45deg);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* #endregion */

/* #region Feature Strip */
.featureStrip {
    /* Feature_Strip */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;

    /* Inside auto layout */
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.card01 {
    /* Card_01 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--spacings-sm);
    height: 100%;
    /* Dark Gray */
    border-right: 1px solid var(--dark-gray);

    /* Inside auto layout */
    order: 0;
    flex-grow: 0;
}

.card01 .text {
    /* POWERFUL TRIPLE ACTION RELIEF */

    margin: 0 auto;
    white-space: normal;
    font-weight: 700;
    font-size: var(--font-sizes-s-text);
    letter-spacing: 0.02rem;

    /* Black */
    color: var(--black);


    /* Inside auto layout */
    order: 0;
    flex-grow: 0;
}

.card02 {
    /* Card_02 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--spacings-sm);
    height: 100%;
    /* Inside auto layout */
    order: 1;
    flex-grow: 0;
}

.card02 .text {
    /* Analgesic · Anti-Inflammatory · Restorative */

    font-weight: 400;
    font-size: var(--font-sizes-m-text);
    letter-spacing: 0.02rem;
    text-align: center;

    /* Black */
    color: var(--black);


    /* Inside auto layout */
    order: 0;
    flex-grow: 0;
}

.card03 {
    /* Card_03 */
    height: 100%;
    padding: 0 var(--spacings-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Dark Gray */
    border-left: 1px solid var(--dark-gray);

    /* Inside auto layout */
    order: 2;
    flex-grow: 0;
}

.card03 .container {
    /* Container */
    overflow: hidden;
    height: fit-content;
    display: flex;
    gap: var(--spacings-sm);
    padding: var(--spacings-sm);
    align-items: center;

    background: rgba(252, 242, 179, 0.4);
    border-radius: var(--border-radius-xs);

    /* Inside auto layout */
    order: 0;
    flex-grow: 0;
}

.container .countText {
    /* 5K+ */

    font-weight: 700;
    font-size: var(--font-sizes-l-text);
    line-height: 4.8rem;
    letter-spacing: 0.02rem;
    width: fit-content;
    /* Green */
    color: var(--green);


    /* Inside auto layout */
    order: 0;
    flex-grow: 0;
}

.container .countText::selection{
    background-color: var(--gray);
}


.container .text {
    /* Satisfied Customers */
    min-width: 0;
    white-space: normal;
    margin: 0 auto;

    font-weight: 500;
    font-size: var(--font-sizes-s-text);
    line-height: 120%;;
    letter-spacing: 0.02rem;
    /* Black */
    color: var(--black);

    /* Inside auto layout */
    order: 1;
    flex-grow: 0;
}

/* #endregion */

/* #endregion */

/* #region About Section */
.aboutSection {
    /* About_Section */
    
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px var(--spacings-l);
    gap: 0;

    height: fit-content;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;
}

.aboutSection .aboutCard {
    /* About_Card */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacings-xl2);
    gap: var(--spacings-m);
    /*Fallback Gap*/

    height: fit-content;

    /* Black */
    background: var(--black);
    border-radius: var(--border-radius-s);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


.aboutCard .headingText {
    /* What Makes Our Relief Different? */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 auto;

    font-weight: 500;
    font-size: var(--font-sizes-l-text);
    letter-spacing: 0.02rem;

    /* White */
    color: var(--white);


    /* Inside auto layout */
    order: 0;
    flex-grow: 0;

}

.aboutCard .subheadingText {
    /* Our mission, our process, and the science behind natural healing. */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 auto;
    font-weight: 400;
    font-size: var(--font-sizes-m-text);

    /* White */
    color: var(--white);


    /* Inside auto layout */
    order: 1;
    flex-grow: 0;
}

.aboutCard .aboutCTA {
    /* About_CTA */
    cursor: pointer;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacings-ml);
    gap: 0;

    width: fit-content;
    aspect-ratio: 1/1;

    /* Light Yellow */
    background: var(--light-yellow);
    border-radius: var(--border-radius-pill);

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    transition: transform 0.2s ease;
}

.aboutCard .aboutCTA:hover{
    transform: scale(1.01);
}

.aboutCTA .icon {
    /* Vector */

    width: 4rem;

    /* Black */
    color: var(--black);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* #endregion */

/* #region Feature Section */
.featureSection {
    /* Feature_Section */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-xl2);

    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.sectionHeading{
/* The Power Behind the Relief */

    font-weight: 500;
    font-size: var(--font-sizes-l-text);
    text-align: center;
    letter-spacing: -0.02em;

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.featureGrid {
    /* Feature_Grid */

    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--spacings-sm);
    padding: 0 var(--spacings-l);

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* #endregion */

.pillarsSection{
/* Pllars_Section */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-xl2);

    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    z-index: 5;
}

.largeCtn{
/* Large_Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px var(--spacings-l);
    gap: var(--spacings-m);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.pillars{
/* Pillars */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacings-ml);

    margin: 0 auto;
    width: fit-content;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textCtn{
/* Text_Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-m);

    margin: 0 auto;
    width: fit-content;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.pillarsSection .number{
/* 3 */

    font-weight: 600;
    font-size: var(--font-sizes-title);
    text-align: center;
    letter-spacing: -0.02em;

    /* Gray */
    color: #6E7070;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.pillarsSection .specialStyling{
    color: var(--dark-green);
}

/* TESTIMONIAL SECTION */
.testimonialSection{
/* Testimonial_Section */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px var(--spacings-l);
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: var(--spacings-m);

    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
    z-index: 8;
}

.sectionHeader{
/* Section_Header */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacings-m);

    width: fit-content;
    height: fit-content;
    

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.testimonialSection .sectionHeading{
    text-align: left;
}

.sectionSubheadingWrapper{
    
    overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
}

.sectionSubheading{
/* We take pride in delivering exceptional sihdihfs ishdfishfs sihfishfishf */
    font-weight: 400;
    font-size: var(--font-sizes-m-text);
    letter-spacing: -0.02em;

    /* Gray */
    color: #6E7070;
width: 0;
    /* ignore its intrinsic width */
    min-width: 100%;

    /* Inside auto layout */
    order: 1;
}

.testimonialCtn{
/* Testimonial_Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacings-m);

    width: 100%;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
}

.testimonial{
/* “This oil reduced my mother’s knee pain within a week. It's now a part of her daily routine! This oil reduced my mother’s knee pain within a week. It's now a part of her daily routine! */

    font-weight: 500;
    font-size: var(--font-sizes-m-text);
    
    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.testimonialCtn .detailsCtn{
/* Details_Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacings-m) 0px 0px;
    gap: var(--spacings-xs);

    width: fit-content;
    height: fit-content;

    /* Light Gray */
    border-top: 1px solid #E9ECEC;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.testimonialCtn .name{
/* Priya */

    font-weight: 700;
    font-size: var(--font-sizes-s-text);
    text-align: center;
    letter-spacing: 0.02em;

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.testimonialCtn .subDetails{
/* 38, Mumbai */

    font-weight: 500;
    font-size: var(--font-sizes-xs-text);
    text-align: center;
    letter-spacing: 0.02em;

    /* Gray */
    color: #6E7070;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* #region CTA Section */
.ctaSection {
    /* CTA_Section */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-xl2);


    /* Inside auto layout */
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
    z-index: 5;
}

.ctaSection .textCtn {
    /* CTA_Text_Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-m);

    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.textCtn .headingText {
    /* Experience Natural Pain Relief */

    font-weight: 500;
    font-size: var(--font-sizes-l-text);
    line-height: 4.8rem;
    letter-spacing: 0.02rem;
    width: fit-content;
    /* Black */
    color: var(--black);


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textCtn .subheadingText {
    /* Move better. Live better. */

    font-weight: 400;
    font-size: var(--font-sizes-m-text);
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.02rem;
    width: fit-content;
    /* Black */
    color: var(--black);


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* #endregion */

@media (max-width: 1120px) {
    .primaryCtn{
        gap: var(--spacings-l);
        max-height: 40rem;
    }
    .primaryCtn
    .secondarySection{
        display: none;
    }
    .bottleImg{
        all: unset;
        justify-self: flex-end;
        min-height: 0;
        min-width: 0;
        height:  100%;
    }

    .learnMoreBtn{
        height: 100%;
    }
}
@media (max-width: 768px) {
    .heroTitle{
        display: none;
    }
    .primaryCtn {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        max-height: 64rem;
        aspect-ratio:initial;
    }

    .primaryCtn .mainSection{
        justify-self: center;
    }
    .primaryCtn .secondarySection {
        display: none;
    }

    .productTextCtn{
        text-align: center;
    }
    
    .ctaRow{
        align-self: center;
    }

    .bottleImg {
        all: unset;
        justify-self: center;
        min-height: 0;
        min-width: 0;
        height: 100%;
    }

    .learnMoreBtn {
        height: 100%;
    }

    .featureStrip{
        grid-template-columns: 1fr 1fr;

    }

    .card02{
        display: none;
    }

    .aboutCard{
        align-self: stretch;
    }

    .aboutCard .headingText{
        margin: 0;
    }

    .testimonialSection{
        grid-template-columns: 1fr;
    }

    .testimonialSection .sectionHeader{
        width: 100%;
        align-items: center;
    }

    .testimonialSection .sectionHeading{
        text-align: center;
    }

    .testimonialCtn{
        align-items: center;
        justify-content: center;
    }

    .testimonial{
        text-align: center;
    }

    .detailsCtn{
        align-items: center !important;
    }

}


@media (max-width: 470px) {
.featureGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    row-gap: var(--spacings-l);
}
}

@media (max-width: 1000px) {
    .largeCtn {
        grid-template-columns: 1fr;
    }
}