/* #region Feature Section */
.featureSectionCtn {
    /* Feature_Section */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px var(--spacings-xl8);
    gap: var(--spacings-l);

    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 3;
}

/* #endregion */

.featureCard{
    /* Feature_Card */
    position: sticky;
    /* background-color: var(--white); */
    top: 10%;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-ml);

    /* width: fit-content; */
    height: fit-content;


    /* Inside auto layout */
    /* flex: none; */
    align-self: stretch;
    order: 0;
    flex-grow: 0;

}

.featureCard1{
    order: 0;
}

.featureCard2 {
    order: 1;
}

.featureCard3 {
    order: 2;
}

.featureCard .icon{
    /* Vector */
    
        width: 16rem;
        height: 16rem;
        
    
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
}

.icon1{
/* Green */
    color: var(--green);
}

.icon2{
/* Ice Blue */
    color: var(--ice-blue);
}

.icon3{
/* Gold */
    color: var(--gold);
}

.featureCard .contentCtn{
    /* Card */
        background-color: var(--white);
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: var(--spacings-m);
        gap: var(--spacings-m);
    
        width: 40dvw;
        max-width: 56rem;
        height: fit-content;
    
        /* Black */
        border: 1px solid #07080C;
        border-radius: var(--border-radius-xs);
    
        /* Inside auto layout */
        /* flex: none; */
        order: 1;
        flex-grow: 0;
}

.contentCtn .headingCtn{
    /* Heading_Container */
    
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: var(--spacings-s);
    
        height: fit-content;
    
    
        /* Inside auto layout */
        /* flex: none; */
        order: 0;
        align-self: stretch;
        flex-grow: 0;
}

.headingCtn .headingIndex{
    /* 01 */
    
        font-weight: 700;
        font-size: var(--font-sizes-l-text);
        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
}

.headingIndex1 {
    /* Green */
    color: var(--green);
}

.headingIndex2 {
    /* Ice Blue */
    color: var(--ice-blue);
}

.headingIndex3 {
    /* Gold */
    color: var(--gold);
}

.headingIndex::selection{
    color: var(--black);
}

.headingCtn .headingText{
    /* Fast Relief */
    
        font-weight: 500;
        font-size: var(--font-sizes-l-text);
        letter-spacing: 0.02rem;
    
        /* Black */
        color: #07080C;
    
    
        /* Inside auto layout */
        /* flex: none; */
        order: 1;
        align-self: stretch;
        flex-grow: 0;
}

.contentCtn .subheadingText{
    /* CBD calms pain receptors for instant comfort. */
    
        font-weight: 400;
        font-size: var(--font-sizes-m-text);
        letter-spacing: 0.02rem;
    
        /* Black */
        color: #07080C;
    
    
        /* Inside auto layout */
        /* flex: none; */
        order: 1;
        align-self: stretch;
        flex-grow: 0;
}
