.featureCard {
    /* Feature_Card */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--spacings-m);
    gap: var(--spacings-m);

    width: 100%;
    /* height: fit-content; */
    height: 100%;

    /* Light Gray */
    border: 1px solid #ADADAD;
    border-radius: 8px;
}

.featureCard .icon {
    /* Vector */

    width: var(--font-sizes-m-text);
    height: var(--font-sizes-m-text);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.featureCard.n1 .icon {
    color: var(--gold);
}

.featureCard.n2 .icon {
    color: var(--dark-gray);
}

.featureCard.n3 .icon {
    color: var(--dark-green);
}

.featureCard.n4 .icon {
    color: var(--red);
}

.featureCard .textCtn {
    /* Text_Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacings-sm);

    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.featureCard .heading {
    /* Worldwide Recognition */

    font-weight: 600;
    font-size: var(--font-sizes-s-text);

    /* Dark Gray */
    color: #323232;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.featureCard .description {
    /* Join specialists in over 80 countries with the highest-rated corrective exercise credential in the fitness industry */

    font-weight: 400;
    font-size: var(--font-sizes-xs-text);

    /* Gray */
    color: #737373;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}