.container {
    position: relative;
    width: 100%;
    max-width: 24rem;
    height: 32rem;
    cursor: pointer;
    margin: 0 auto;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 500ms ease-in-out;
    transform-style: preserve-3d;
}

.container:hover .flipper {
    /* Optional: add subtle scale on hover */
}

.flipper.flipped {
    transform: rotateY(180deg);
}

.card {


/* Card */
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0.8rem;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacings-sm);
    gap: var(--spacings-l);
    backface-visibility: hidden;
    background-color: #ffffff;
    box-shadow: 0 4px 6px #e9ecec;
    /* Black */
    border: 1px solid #e9ecec;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


.back {
    transform: rotateY(180deg);
}

.icon {
/* ? */
    height: var(--font-sizes-l-text);
    aspect-ratio: 1 / 1;
    font-weight: 700;
    font-size: var(--font-sizes-l-text);
    text-align: center;
    
    /* Gray */
    color: var(--dark-gray);


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.title {
/* What Makes our Relief Different */

    font-weight: 500;
    font-size: var(--font-sizes-m-text);
    text-align: center;
    letter-spacing: 0.1rem;
    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.description {
/* CBD calms the mind, eases stress, and supports restful sleep for a more balanced and peaceful daily experience. */

    font-weight: 400;
    font-size: var(--font-sizes-xs-text);
    text-align: center;

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

@media (max-width: 470px) {
    .container{
        max-width: 18rem;
        height: 24rem;
    }
}