.orderCtn, .itemCtn{
    display: flex;
    flex-direction: column;
    gap: var(--spacings-xs);
}

.field{
    display: flex;
    width: fit-content;
    gap: var(--spacings-xs);
    background-color: var(--light-yellow);
    font-size: var(--spacings-m);
}