.mainCtn{
/* Step-Shipping */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-xl2);

    /* position: relative; */
    width: 100dvw;
    height: 100dvh;

    /* White */
    background: #FCFDF8;
}

.heading{
/* Edit Variant_Name Details */

    font-weight: 500;
    font-size: var(--font-sizes-l-text);

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contentGrid{
/* Frame 89 */

    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    padding: var(--spacings-l);
    row-gap: var(--spacings-xl2);

    width: fit-content;
    height: fit-content;

    /* Gray */
    border: 1px solid #6E7070;
    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.row{
/* Frame 86 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacings-m);

    height: 100%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.row .label{
/* Stock */

    font-weight: 400;
    font-size: var(--font-sizes-m-text);

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.row .wrapper {
    /* Frame 85 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: var(--spacings-sm);


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.row .input {
    /* Input */

    padding: var(--spacings-sm);
    font-size: var(--font-sizes-xs-text);

    /* Light Gray */
    background: #E9ECEC;
    /* Dark Gray */
    border: none;
    outline: none;
    border-radius: var(--border-radius-pill);

    /* Inside auto layout */
    /* flex: none; */
    order: 0;
    flex: 1;

}
/* Chrome, Safari, Edge, Opera */
.row input::-webkit-outer-spin-button,
.row input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.row input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/* Standard property (might work in newer browsers) */
.row input[type=number] {
    appearance: none;
}

.row .input::placeholder {
    /* Placeholder Text */

    font-weight: 400;

    /* Gray */
    color: #6E7070;

}

.row .submit{
/* Update */

    font-weight: 400;
    font-size: var(--font-sizes-s-text);

    /* Black */
    color: #07080C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}